/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-4 {
  padding: 4px;
}

.m-4 {
  margin: 4px;
}

.mr-4 {
  margin-right: 4px;
}
